
/* Seletor de todos os elementos(Costume de sempre iniciar com ele)*/
*{
    margin: 0;
}
/* Seletor de Elementos */
h3{
    color: olivedrab;
    font-weight: 700;
}
/* Seletor de Classe(Class) */
.texto{
    /* Altera a cor do texto */
    color: brown;
    /* Altera o tamanho do texto */
    font-size: large;
    /* Altera a posição do texto horizontalmente */
    text-align: center;
    /* Defini a fonte do texto */
    font-family: Impact;
    /* Altera a peso/gramatura do texto */
    font-weight: 100;
    /* Altera a decoração do texto */
    text-decoration: underline;
}
/* Seletor de ID */
#texto{
    color: red;
    font-size: medium;
    text-align: end;
}
/* Atributo de Espaçamento */
.box{
    /* Define a largura - vw */
    width: 200px;
    /* Define a altura - vh */
    height: 200px;
    /* Define o espaço externo - margem */
    margin: 15px 5px 10px 20px;
    /* Define o espaço interno */
    padding: 10px;
    /* Define a borda */
    border: 1px solid black;
}

.position{
    /* A forma de posicionamento esse posiciona um do lado do outro (os sections)*/
    display: flex;
    /* Posicionar verticalmente */
    align-items: center;
    /* Posicionar horizontalmente */
    justify-content: center;
}

.position2{
    position: absolute;
    top: 10px;
    right: 670px;
}

/* Corpo do HTML - toda página */
body {
    /* Altera a cor do fundo */
    background-color: grey;
    /* Altera a imagem de fundo do elemento */
    background-image: url(https://media.tenor.com/-nWoYzx6zFwAAAAM/nascar-tongue.gif);
    /* Define a repetição das imagens no fundo */
    background-repeat: no-repeat;
    /* Define a posição da imagem */
    /* background-position: center; */

    /* Define o tamanho da imagem de fundo */
    background-size: 100vw 100vh;
}   
.visuais{
    background-color: red;
    opacity: 75%;
    box-shadow: 15px 5px 10px 1px;
    /* Arredonda o elemento */
    border-radius: 35px;
    /* Transforma o elemento - rotacionar */
    transform: rotate(1turn);
    transition: width 2s, height 2s, transform 2s;
}

.visuais:hover{
    width: 215px;
    height: 215px;
    transform: rotate(10turn);
    background-color: brown;
}

.cursor{
    /* Controla o scroll do elemento */
    overflow-y: auto;
    overflow-x: auto;
    /* Modificar cursor */
    cursor: pointer;
}

