*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.base{
    display: flex;
    flex-direction: column;
}
.filtroEsquerdo{
    width: 10%;
}
.main{
    width: 90%;
}


